@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&family=Montserrat:ital,wght@0,100;0,200;0,400;1,300&display=swap");

:root {
  --main-color: rgb(180, 119, 5);
  --main-color-b: rgba(2, 37, 46, 0.952);
  --main-color-para: rgb(209, 204, 209);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color: var(--main-color); */
  font-family: "Montserrat", sans-serif;
}
